{% extends 'base.html.twig' %}

{% block title %}
	Mes Applications
{% endblock %}

{% block body %}
	<div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-0 py-3">
			<div
				class="container-xl">


				<!-- Logo -->
				<a class="navbar-brand" href="/">
					<img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="...">
				</a>

				<!-- Navbar toggle -->
				<button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Avatar -->
				<div class="dropdown order order-lg-3 ms-lg-4">
					<a class="d-block" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="avatar avatar-sm bg-warning rounded-circle text-white">
							<img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<div class="dropdown-header">
							<h6 class="text-overflow m-0">Bienvenue!</h6>
						</div>
						<a href="#!" class="dropdown-item">
							<i class="ni ni-single-02"></i>
							<span>Profile</span>
						</a>
						<a href="#!" class="dropdown-item">
							<i class="ni ni-settings-gear-65"></i>
							<span>Paramètres</span>
						</a>
						<a href="#!" class="dropdown-item">
							<i class="ni ni-calendar-grid-58"></i>
							<span>Activités</span>
						</a>
						<a href="#!" class="dropdown-item">
							<i class="ni ni-support-16"></i>
							<span>Support</span>
						</a>
						<div class="dropdown-divider"></div>
						<a href="/deconnexion" class="dropdown-item">
							<i class="ni ni-user-run"></i>
							<span>Déconnexion</span>
						</a>
					</div>
				</div>

				<!-- Collapse -->
				<div
					class="collapse navbar-collapse" id="navbarCollapse">

					<!-- Nav -->
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="/" aria-current="page">Acceuil</a>
						<a class="nav-item nav-link active" href="/applications">Mes applications</a>
						<a class="nav-item nav-link" href="/documentation">Documentation</a>
					</div>

				</div>
			</div>
		</nav>
	</div>
{% endblock %}
