<nav class="navbar show navbar-vertical h-100 navbar-expand-lg px-0 py-3 py-lg-0 navbar-light bg-light border-end-lg" id="navbarVertical">
	<div
		class="container-fluid">
		<!-- Toggler -->
		<button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Brand -->
		<a class="navbar-brand py-lg-5 mb-lg-5 px-lg-6 me-0" href="/">
			<img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" alt="...">
		</a>
		<!-- User menu (mobile) -->
		<div
			class="navbar-user d-lg-none">
			<!-- Dropdown -->
			<div
				class="dropdown">
				<!-- Toggle -->
				<a href="/" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="avatar bg-warning rounded-circle text-white">
						<img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
					</div>
				</a>
				<!-- Menu -->
				<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
					<div class="dropdown-item">
						<span class="d-block text-sm text-muted mb-1">Signed in as</span>
						<span class="d-block text-heading font-semibold">Heather Wright</span>
					</div>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</div>
		</div>
		<!-- Collapse -->
		<div
			class="collapse navbar-collapse" id="sidebarCollapse">
			<!-- Navigation -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">
						<i class="bi bi-house"></i>
						Tableau de bord
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/documentation">
						<i class="bi bi-chat"></i>
						Documentation
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/statisques" disabled>
						<i class="bi bi-bar-chart"></i>
						Statisques
					</a>
				</li>

			</ul>
			<!-- Divider -->
			<hr
			class="navbar-divider my-5 opacity-20">
			<!-- Push content down -->
			<div class="mt-auto"></div>
			<!-- Divider -->
			<hr
			class="navbar-divider my-5 opacity-20">
			<!-- User (md) -->
			<ul class="navbar-nav mb-5">
				<li class="nav-item">
					<a class="nav-link" href="/compte">
						<i class="bi bi-person-square"></i>
						Compte
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/parametres">
						<i class="bi bi-gear"></i>
						Paramètres
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/deconnexion">
						<i class="bi bi-box-arrow-left"></i>
						Déconnexion
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
